/* .main-container11 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1199px;
    height: 275px;
}

.main-container11 .main-title {
    position: absolute;
    top: -1px;
    left: 381px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: #131313;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
}

.main-container11 .frame {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 92px;
    left: 0;
}

.main-container11 .insights-section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 24px 24px 32px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    transition: background-color 0.3s;;
}

.insights-section:hover{
    background-color:#cddbed71;
}


.main-container11 .step {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.main-container11 .icon-photo {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #cddbed;
    border-radius: 8px;
    overflow: hidden;
}

.main-container11 .insights-icon {
    position: absolute;
    width: 24px;
    height: 12px;
    top: 14px;
    left: 8px;
}

.main-container11 .insights-title {
    position: relative;
    width: fit-content;
    font-family: "DM Sans";
    font-weight: 500;
    color: #131313;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.main-container11 .subtext {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.main-container11 .insights-description {
    position: relative;
    width: 336px;
    margin-top: -1.00px;
    font-family: "DM Sans";
    font-weight: 400;
    color: #7a7a7a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
} */