.category-section {
    text-align: center;
    padding: 2.5rem 3rem 5.625rem 3rem; /* 40px = 2.5rem, 48px = 3rem, 90px = 5.625rem */
    font-family: Arial, sans-serif;
}

.category-section-boost {
    text-align: center;
    padding: 5rem 3rem 6.875rem 3rem; /* 80px = 5rem, 110px = 6.875rem */
    font-family: Arial, sans-serif;
}

.section-title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 3.125rem; /* 50px = 3.125rem */
    color: #000;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 9rem; /* Already in rem */
    margin-bottom: 1.25rem; /* 20px = 1.25rem */
}

.category {
    text-align: center;
    max-width: 18.75rem; /* 300px = 18.75rem */
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.625rem; /* 10px = 0.625rem */
    margin-bottom: 0.625rem; /* 10px = 0.625rem */
}

.category-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem; /* 40px = 2.5rem */
    height: 2.5rem; /* 40px = 2.5rem */
    background-color: #eef3fa;
    border-radius: 0.625rem; /* 10px = 0.625rem */
}

.category-icon img {
    size: 1rem;
}

.category h3 {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
    color: #333;
}

.category p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    margin-top: 1.25rem; /* 20px = 1.25rem */
}

.browse-jobs-container {
    margin-top: 2.5rem; /* 40px = 2.5rem */
}

.horizontal-line {
    max-width: 75rem; /* 1200px = 75rem */
    height: 0.0625rem; /* 1px = 0.0625rem */
    background-color: #e6e6e6;
    margin: 0 auto 3.125rem; /* 50px = 3.125rem */
}

.browse-jobs-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #333;
    font-weight: 100;
}

.browse-jobs-link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) { /* 768px = 48rem */
    .categories-container {
        flex-direction: column;
        gap: 1.5rem; /* 20px = 1.25rem */
    }

    .horizontal-line {
        margin: 0 auto 2.125rem;
    }

    .section-title {
        font-size: 1.75rem;
        margin-bottom: 2.5rem;
    }

    .category p {
        margin-top: 0rem;
        margin-left: 3.2rem;
        margin-top: -0.7rem;
    }

    .category-header {
        margin-bottom: 0;
        align-items: flex-start;
    }

    .category-section {
        padding: 2.5rem 1.5rem 5.625rem 1.5rem;
    }
}
