.job-search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
  margin-bottom: 5rem;
}

.search-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; 
}

.email-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.search-input {
  padding: 0.8125rem; 
  width: 22rem;
  border: 0.0625rem solid #e6e6e6; 
  border-radius: 0.3125rem; 
  font-size: 0.8rem;
  font-family: DM Sans, sans-serif;
}

.location-input {
  background-image: url('/assets/location.svg');
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: 0.625rem center;
  padding-left: 1.875rem; 
  border: 0.0625rem solid #e6e6e6; 
  border-radius: 0.3125rem; 
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.9rem 0rem;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 0.3125rem; 
}

.search-jobs-button {
  padding: 0.625rem 1.25rem; 
  background-color: #00989e;
  width: 22rem;
  height: 2.6rem;
  color: white;
  border-radius: 0.6rem;
  border: none;
  font-size: 0.9rem;
  font-family: DM Sans, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.search-jobs-button:hover {
  background-color: #f0fbfb;
  color: #00989e;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.featured-jobs-section {
  padding: 3rem 2rem; 
  text-align: center;
  font-family: DM Sans, sans-serif;
}

.featured-jobs-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #333;
  font-weight: 400;
}

.job-listings-table {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; 
  width: 100%;
  max-width: 75rem; 
  margin: 0 auto;
}

.job-row {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem; 
}

.job-item {
  flex: 1;
  padding: 0.625rem; 
  text-align: left;
  border-bottom: 0.0625rem solid #ccc;
}

.job-item h3 {
  font-size: 1rem;
  margin: 0 0 0.375rem 0; 
  color: #000;
  font-weight: 400;
}

.job-item p {
  font-size: 0.9rem;
  margin: 0 0 0.375rem 0; 
  color: #000;
}

.job-item p:last-child {
  color: #777;
  margin: 0 0 0.625rem 0; 
}

.view-all-jobs {
  text-align: center;
  margin-top: 3rem;
}

.view-all-link {
  text-decoration: none;
  font-size: 1rem;
  color: #131313;
  transition: color 0.5s ease;
}

.view-all-link:hover {
  color: #00989e;
  transition: color 0.5s ease;
}

@media (max-width: 768px) {
  .job-row {
    flex-direction: column;
    gap: 0.625rem; 
  }
}

@media (max-width: 768px) { 
  .featured-job-listings {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr)); 
  }

  .hidden-on-mobile{
    display: none;
  }

  .view-all-jobs {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) { 
  .featured-job-listings {
    grid-template-columns: 1fr;
  }

  .featured-jobs-title {
    font-size: 1.65rem;
  }

  .hidden-on-mobile {
    display: none;
  }

  .search-jobs-button {
    width: 23.5rem;
  }

  .checkbox-container{
    padding: 0.9rem 0rem;
  }

  .job-search-bar {
    gap: 0.625rem;
  }

  .featured-jobs-section {
    padding: 3rem 1.5rem;
  }
}
