/* Footer Section */
.footer-section {
    background-color: #f4f9fb;
    padding: 40px 48px;
    font-family: 'DM Sans', sans-serif;
    color: #7A7A7A;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    text-align: left;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

/* Left Column (More Space) */
.footer-left {
    flex: 3; /* Takes more space */
}

/* Middle Column */
.footer-middle {
    flex: 1; /* Slightly more space */
    border-left: 1px solid #E0E0E0; /* Vertical line */
    padding-left: 30px;
}

/* Right Column */
.footer-right {
    flex: 2; /* Smallest space */
    border-left: 1px solid #E0E0E0; /* Vertical line */
    padding-left: 30px;
}

/* Title Styling */
.footer-title {
    font-size: 1.2rem;
    font-weight: 100;
    color: #131313;
    margin-bottom: 15px;
}

/* Description Styling */
.footer-description {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #666;

}

/* Links Styling */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    font-size: 0.9rem;
    color: #666;
    text-decoration: none;
}

.footer-links a:hover {
    color: #00989E;
}

/* Social Media Image */
.social-icons {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left; /* Center the image */
}

.social-media-image {
    width: 150px; /* Adjust based on the size of your image */
    height: auto;
}

/* Copyright Styling */
.footer-copyright {
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
}

.footer-copyright a {
    color: #666;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-column {
        border-left: none;
        padding: 20px 0;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        flex: 1;
    }
}
