@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: DM Sans, sans-serif;
    overflow-x: hidden;
}

.SFcareer-center {
    padding: 0.5rem 3rem;
    text-align: center;
    background-image: url('/assets/bgr_img.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
}

.left-nav-bar {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.logo img {
    margin-right: 0.5rem;
    height: 2.2rem;
    vertical-align: text-bottom;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem; 
    display: flex;
    align-items: center;
    gap: 0.8rem; 
}

.dropdown .dropdown-icon {
    transition: transform 0.5s ease-in-out;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1; 
    transform: translateY(0);
}

.dropdown:hover .dropdown-icon {
    content: url('/assets/dropup.png');
    transition: content 0.3s ease-in-out;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    width: fit-content;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-menu li {
    padding: 0.5rem 0;
    position: relative;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1rem;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #00989e;
}

.nested-dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    min-width: fit-content;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nested-dropdown:hover .nested-dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}

.nested-dropdown-menu li {
    padding: 0.5rem 0;
}

.nested-dropdown-menu li a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nested-dropdown-menu li a:hover {
    color: #00989e;
}

.right-nav-bar {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.language-switcher, .login-signup a {
    color: white;
    font-size: 0.95rem; 
    text-decoration: none;
    font-family: DM Sans, sans-serif;
    display: flex;
    align-items: center;
    gap: 0.8rem; 
}

.login-signup a:hover {
    color: #00989e;
    transition: color 0.5s ease;
}

.nav-button {
    display: flex;
}

.job-button, .job-button-2 {
    background-color: #00989e;
    color: white;
    border: none;
    font-family: DM Sans, sans-serif;
    font-size: 0.9rem; 
    padding: 0.7rem 1.2rem; 
    cursor: pointer;
    border-radius: 0.6rem;
    white-space: nowrap;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.job-button:hover, .job-button-2:hover {
    background-color: #f0fbfb;
    color: #00989e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-icon {
    display: none; 
}

.menu-icon img {
    height: 1.6rem;
}

.center-content {
    text-align: center;
    margin: auto;
}

.main-page-title {
    font-size: 3.3rem;
    font-weight: 400;
    margin: 0;
}

.main-subtitle {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: #b4b4b4;
}

.button-group {
    display: inline-flex;
    gap: 1rem;
}

.secondary-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-family: DM Sans, sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    height: 41.6px;
    transition: background-color 0.5s, color 0.5s;
}

.secondary-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

.partners-section {
    background-color: #f2f6fb;
    padding: 1.5rem;
}

.partners {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.partners img {
    max-width: 7rem;
}

@media (max-width: 768px) {
    .nav-links, .login-signup, .nav-button {
        display: none;
    }

    .SFcareer-center {
        padding: 0.5rem 1.4rem;
        background-position: left;
        height: 82vh;
    }

    .menu-icon {
        display: block; 
    }

    .main-page-title {
        font-size: 2rem;
    }

    .main-subtitle {
        font-size: 1.1rem;
    }

    .button-group {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .partners {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .job-button-2 {
        width: 12.2rem;
    }

    .partners img {
        max-width: 6.2rem;
    }

    .nav-bar {
        padding: 1rem 1rem;
    }

    .SFcareer-center {
        padding: 0.5rem 1.4rem;
        background-position: left;
        height: 48.125rem;
    }

    .center-content {
        padding: 0 2rem 0 2rem;
    }
}
