.container {
    max-width: 75rem; /* 1200px = 75rem */
    margin: 0 auto;
    padding: 0 1.25rem; /* 20px = 1.25rem */
}

.resume-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem; /* 20px = 1.25rem */
    padding: 2.5rem 3rem; /* 40px = 2.5rem, 48px = 3rem */
    font-family: Arial, sans-serif;
    max-width: 75rem; /* 1200px = 75rem */
    margin: 0 auto;
}

.resume-left {
    flex: 1;
}

.resume-left h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0.625rem; /* 10px = 0.625rem */
    color: #000;
}

.resume-left p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.25rem; /* 20px = 1.25rem */
    line-height: 1.5;
}

.upload-button {
    background-color: #00a79d;
    color: #fff;
    padding: 0.625rem 1.25rem; /* 10px = 0.625rem, 20px = 1.25rem */
    border: none;
    border-radius: 0.3125rem; /* 5px = 0.3125rem */
    font-size: 1rem;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #00897a;
}

.resume-right {
    flex: 1;
    background-color: #F2FAFA;
    padding: 2rem;
    border-radius: 0.625rem; /* 10px = 0.625rem */
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem; /* 20px = 1.25rem */
}

.step:last-child {
    margin-bottom: 0;
}

.step-number {
    font-size: 1rem;
    font-weight: 500;
    color: #131313;
    background-color: #CDDBED;
    min-width: 2.1875rem; /* 35px = 2.1875rem */
    min-height: 2.1875rem; /* 35px = 2.1875rem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.9375rem; /* 15px = 0.9375rem */
}

.step-content h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.3125rem; /* 5px = 0.3125rem */
    margin-top: 0.5rem;
    color: #131313;
}

.step-content p {
    font-size: 0.9rem;
    color: #131313;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 481px) { /* Larger screens */
    .responsive-br {
        display: inline; /* Ensure the line break is visible on larger screens */
    }
}

@media (max-width: 480px) { /* 768px = 48rem */
    .resume-section {
        flex-direction: column;
        align-items: center;
        text-align: center; 
        padding: 1.5rem 3rem;
    }

    .responsive-br {
        display: none; /* Hide the line break on smaller screens */
    }

    .resume-left {
        text-align: center; 
        margin-bottom: 1.25rem; 
    }

    .resume-left h2 {
        font-size: 1.65rem; /* Reduce font size */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Ensure no overflow */
    }

    .resume-left p {
        font-size: 0.9rem;
    }

    .resume-right {
        width: 100%;
        margin-top: 0;
        text-align: left;
    }

    .upload-button {
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}
